<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://www.sonypictures.com.br/sites/brazil/files/tittle-page/thumbnails/576x313_3.jpg"
      alt=""
      height="200px"
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="https://angular.io/" target="_blank"
        >Saiu o novo filme do Homem-aranha</a
      >
    </h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas id
        tellus eget pellentesque. Sed a laoreet justo. Nullam pharetra purus
        tincidunt quam congue, quis consectetur nibh faucibus. Ut non porta
        diam, vel fermentum ante.
      </a>
    </p>
  </div>
</div>
